/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f5f6fa;
    color: #262626;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ---------------------------- */
/* HEADINGS */
/* ---------------------------- */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* ---------------------------- */
/* HEADER */
/* ---------------------------- */

header {
    background-color: #2ecc71;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 25px;
}

.right-nav {
    float: center;
    list-style: none;
    margin-top: 60px;
}

.right-nav li {
    display: inline-block;
    margin-left: 40px;
}

.right-nav li a:link,
.right-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.right-nav li a:hover,
.right-nav li a:active {
    border-bottom: 2px solid #000000;
}

.left-nav {
    float: left;
    list-style: none;
    margin-top: 60px;
    margin-left: 5%;
}

.left-nav li {
    display: inline-block;
    margin-left: 60px;
}

.left-nav li a:link,
.left-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.left-nav li a:hover,
.left-nav li a:active {
    border-bottom: 2px solid #000000;
}

.signup-button {
  padding: 10px;
}

.signup-button:link,
.signup-button:visited {
    background-color: #000000;
    border: 1px solid #2ecc71;
    color: #fff;
}

.signup-button:hover,
.signup-button:active {
    border: 1px solid #5b635f;
    background-color: #5b635f;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.contact-us-title h3 {
  font-size: 150%;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 15%;
  line-height: 50px;
}

.contact-us-title a {
  text-decoration: none;
  font-size: 170%;
  color: #f5f6fa;
  margin-left: 100px;
  background-color: #000000;
}

.contact-us-img img {
  height: 500px;
  width: auto;
}

.email-link {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  background-color: #000000;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}


/* ---------------------------- */
/* Contact us form */
/* ---------------------------- */

/* Centre the page */
.body {
    display:block;
    margin:0 auto;
    width:576px;
}

.form-box {
    background-color: #262626;
}

.form-box label {
    color: #fff;
}
/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:30px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
    columns: #000000;;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

textarea {
	height:213px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#submit:hover {
    opacity:.9;
}

/* ---------------------------- */
/* FOOTER SECTION */
/* ---------------------------- */

.facebook-logo {
  width: 40px;
  height: auto;
  padding-top: 10px;
}

.linkedin-logo {
  width: 60px;
  height: auto;
  padding-left: 15px;
  padding-top: 10px;
}

.insta-logo {
  width: 55px;
  height: auto;
  padding-left: 15px;
  padding-top: 10px;
}

.google-play-logo {
  width: 170px;
  height: auto;
  padding-left: 0;
}

.app-store-logo {
  width: 155px;
  height: auto;
  padding: 10px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links-2 {
  display: block;
  list-style: none;
}
.footer-links li
{
 display: inline;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}



