/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #262626;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ---------------------------- */
/* HEADINGS */
/* ---------------------------- */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* ---------------------------- */
/* HEADER */
/* ---------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/drive-with-background.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 25px;
}

.right-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.right-nav li {
    display: inline-block;
    margin-left: 40px;
}

.right-nav li a:link,
.right-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.right-nav li a:hover,
.right-nav li a:active {
    border-bottom: 2px solid #2ecc71;
}

.left-nav {
    float: left;
    list-style: none;
    margin-top: 60px;
    margin-left: 5%
}

.left-nav li {
    display: inline-block;
    margin-left: 80px;
}

.left-nav li a:link,
.left-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.left-nav li a:hover,
.left-nav li a:active {
    border-bottom: 2px solid #2ecc71;
}

/* ---------------------------- */
/* SIGN UP */
/* ---------------------------- */
 
.sign-up-drive {
    padding: 100px;
    color: #fff;
}

.sign-up-drive h3 {
    font-size: 250%;
    font-weight: 400;
    padding: 20px 20px;
    
}
.sign-up-drive p {
    font-size: 150%;
    color: white;
    font-weight: 300;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.drive-with-us {
    background-color: #f5f6fa;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    width: 1100px;
    padding: 60px;
}
.drive-with-us img {
    height: 300px;
    width: auto;
    margin-right: 50px;
}
.sign-up h2{
    font-size: 200%;
    padding: 30px;
    font-weight: 400;
    color: #262626;
}
.sign-up p {
    line-height: 40px;
    padding: 30px;
    font-weight: 500;
}

/* ---------------------------- */
/* EARNINGS */
/* ---------------------------- */
.earnings-text {
    padding: 30px;
    margin-top: 300px;
}
.earnings-text h2 {
    color: #262626;
    margin-bottom: 20px;
    font-weight: 400;
}

.earnings-text p {
    line-height: 150%;
}

.earnings-img img{
    height: 900px;
    width: auto;
    margin-left: 20px;
}

/* ---------------------------- */
/* 3 points  */
/* ---------------------------- */

.simpler-way-to-earn-row {
    background-color: #2ecc71;
}

.simpler-way-to-earn h3 {
    color: #262626;
    margin-bottom: 30px;
    font-weight: 400;
}
.simpler-way-to-earn p {
    margin-top: 10px;
    line-height: 150%;
    font-weight: 375;
}

.simpler-way-to-earn li {
    margin-top: 10px;
    line-height: 150%;
}

/* ---------------------------- */
/* 3 points  */
/* ---------------------------- */
.platform-info {
    margin-top: 20%;
}

.platform-info h3 {
    color: black;
    font-weight: 400;
    margin-bottom: 30px;
}
.platform-info p {
    color: black;
    line-height: 150%;
}
.phone-photo img {
    width: 500px;
    height: auto;
    margin-left: 100px;
}

/* ---------------------------- */
/* How do i sign up  */
/* ---------------------------- */

.drive-when-you-want-section {
    background-color: #2ecc71;
}
.efficiency-text-h3 {
    color: #000000;
    font-weight: 400;
    font-size: 150%;
    padding-bottom: 30px;
}

.efficiency-text-p {
    margin-bottom: 50px;
    font-size: 120%;
    line-height: 150%;
}

.how-do-i-deliver {
    margin-left: 60px;
    margin-top: 30px;
}

.how-do-i-deliver-h3 {
    color: #000000;
    margin-left: 30px;
    margin-top: 100px;
}
.driver-app-book img {
    height: 800px;
    margin-left: 100px;
}

.driver-app-map img {
    height: 700px;
    width: auto;
    margin-left: 100px;
}
/* ---------------------------- */
/* Revolutionizing delivery  */
/* ---------------------------- */

.world-of-delivery {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(img/world-of-delivery.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh; 
}

.world-of-delivery-col {
    margin-top: 15%;
}

.world-of-delivery h3 {
    color: #f5f6fa;
    font-size: 250%;
    font-weight: 300;
    padding-bottom: 50px;
}
.world-of-delivery p {
    color: #f5f6fa;
    font-size: 120%;
    line-height: 150%;
}

/* ---------------------------- */
/* Provide and recieve feedback  */
/* ---------------------------- */

.provide-feedback {
    margin-top: 5%;
}

.provide-feedback h3 {
    font-size: 200%;
    padding-bottom: 10%;
}

.provide-feedback p {
    font-size: 120%;
    line-height: 150%;
}

.feedback-img img {
    height: 800px;
    width: auto;
    margin-left: 100px;
}

/* ---------------------------- */
/* FOOTER SECTION */
/* ---------------------------- */

.facebook-logo {
    width: 40px;
    height: auto;
    padding-top: 10px;
  }
  
  .linkedin-logo {
    width: 60px;
    height: auto;
    padding-left: 15px;
    padding-top: 10px;
  }
  
  .insta-logo {
    width: 55px;
    height: auto;
    padding-left: 15px;
    padding-top: 10px;
  }

  .google-play-logo {
    width: 170px;
    height: auto;
    padding-left: 0;
  }
  
  .app-store-logo {
    width: 155px;
    height: auto;
    padding: 10px;
  }

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links-2 {
  display: block;
  list-style: none;
}
.footer-links li
{
 display: inline;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}