/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f5f6fa;
    color: #262626;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------- */
/* REUSEABLE COMPONENTS */
/* ---------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ---------------------------- */
/* HEADINGS */
/* ---------------------------- */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* ---------------------------- */
/* HEADER */
/* ---------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 25px;
}

.left-nav {
    float: left;
    list-style: none;
    margin-top: 60px;
    margin-left: 5%;
}

.left-nav li {
    display: inline-block;
    margin-left: 80px;
}

.left-nav li a:link,
.left-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.left-nav li a:hover,
.left-nav li a:active {
    border-bottom: 2px solid #2ecc71;
}

.privacy-policy {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 1000px;
}

.privacy-policy p li {
    line-height: 150%;
}