/* -------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------*/
/*-------------------------MOBILE FRIENDLY CSS STYLING------------------------*/
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
  
@media only screen and (max-width: 425px) {
    html {
        width: 375px;
    }
    .header {
        background-color: #2ecc71;
    }

    .left-nav {
        margin-top: 20px;
        margin-right: 10px;
        float: none;
        text-align: right;
    }

    .left-nav li {
        margin-bottom: 20px;
        border-bottom: 2px solid #2ecc71;
    }
    .logo {
        margin-left: 10px;
        height: 120px;
        width: auto;
    }

}

/* ---------------------------- */
/* FIRST SECTION */
/* ---------------------------- */

@media only screen and (max-width: 425px) {
    .specifying-services-title {
        justify-content: center;
    }
}

@media only screen and (max-width: 425px) {

}